@model OHET_Project.Models.models.Concept

@using (Html.BeginForm("_createConceptDataResult", "Heroes", new { classID = ViewBag.classID, heroName = ViewBag.conceptDescription }))
{
    <div class="12u$">
        <textarea type="text" name="conceptDescription" id="conceptDescription" value="" placeholder="Koncepcja Twego bohatera" rows="2"></textarea>
    </div>

    <br />

    <footer class="align-center">
        <button type="submit" class="button alt">Zakończ!</button>
    </footer>
}
