@model OHET_Project.Models.models.Hero

<!-- NAME -->
@using (Html.BeginForm("_createPersonalDataResult", "Heroes", new { classID = ViewBag.classID }))
{
    <div class="6u 12u$(xsmall)">
        <input type="text" name="heroName" id="heroName" value="" placeholder="Name" />
    </div>
    <br />
    <div class="6u 12u$(xsmall)">
        <input type="text" name="description" id="description", value="" placeholder="Koncepcja" />
    </div>
    <br />
    <div class="12u$">
        <textarea name="background" id="backhround" placeholder="Opowiedz nam swoją historię" rows="12"></textarea>
    </div>
    <br />
    <div class="12u$">
        <textarea name="appearance" id="appearance" placeholder="Jak wyglądasz, bohaterze?" rows="6"></textarea>
    </div>
    <br />
    <div class="12u$">
        <textarea name="character" id="character" placeholder="Opisz jaki jesteś - swój charakter" rows="6"></textarea>
    </div>

    <br />

    <footer class="align-center">
        <button type="submit" class="button alt">Dalej!</button>
    </footer>
}

