@model OHET_Project.Models.models.Hero

@{
    ViewBag.Title = "Create";
}

<section id="three" class="wrapper style2">
    <!-- CLASS -->
    @if (ViewBag.classID == null)
    {
        <!-- TITLE -->
        <div class="inner">
            <header class="align-center">
                <p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
                <h2>Krok Pierwszy - Określ swoją klasę</h2>
            </header>
        </div>
        <!-- BODY -->
        Html.RenderAction("_createClassChoice", "Heroes");
    }
    <!-- NAME, CONCEPT I DESCRIPTION  -->
    @if (ViewBag.classID != null)
    {
        if (ViewBag.heroName == null)
        {
            <div class="inner">
                <!-- TYTUŁ -->
                <div class="inner">
                    <header class="align-center">
                        <p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
                        <h2>Krok Drugi - Opowiedz nam o sobie</h2>
                    </header>
                </div>
                <!-- BODY -->
                @{
                    Html.RenderAction("_createPersonalData", "Heroes", new { classID = ViewBag.classID });
                }
            </div>
        }
    }
    <!-- ATTRIBUTE -->
    @if (ViewBag.classID != null)
    {
        if (ViewBag.heroName != null)
        {
            if (ViewBag.conceptDescription == null)
            {
                <!-- TYTUŁ -->
                <div class="inner">
                    <header class="align-center">
                        <p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
                        <h2>Krok Trzeci - Statystyki Twojego Bohatera</h2>
                    </header>
                </div>
                <!-- BODY -->
                <div class="inner">
                    @{
                        Html.RenderAction("_createAttributesData", "Heroes", new { classID = ViewBag.classID, heroName = ViewBag.heroName, description = ViewBag.description, background = ViewBag.background, appearance = ViewBag.appearance, character = ViewBag.character });
                    }
                </div>
            }
        }
    }
</section>




@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function classChoice(){
            $.get("@Url.Action("_createClassChoice", "Heroes")/",
                function (data) { $('.modal-body').html(data); })
            $('#myModal').modal('show');
        }

        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
        })
    </script>
}




