@model OHET_Project.Models.models.Hero

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>

<input class=" btn btn-default" type="button" value="classChoice" onclick="classChoice()">

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose Your Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    @{
                        Html.RenderAction("_createClassChoice", "Heroes");
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function classChoice(){
            $.get("@Url.Action("_createClassChoice", "Heroes")/",
                function (data) { $('.modal-body').html(data); })
            $('#myModal').modal('show');
        }

        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
        })
    </script>
}




