@{
    ViewBag.Title = "Home Page";
}

<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            Outstanding Heroes and Extraordinary Threats is a heroic fantasy tabletop game that requires the use of paper, pencils, dice – and most of all – words. Useful will be also imagination and a few hours of time. <br /><br />

            "At the time, Michał Dzidt, presented the early version of his own system, which he called OHET. I looked through this short rulebook and found that it suited my needs to a great extent. In OHET there are no experience levels, or health points, or the range of weapons and spells carefully measured in meters (or worse, Imperial units). Only 2 out of 6 possible test results are plain, “succeeded/failed”, and the other 4 results force the Game Master to be more creative, which encourages a varied gameplay." - https://castelviator.wordpress.com/
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>The official site for the greatest heroic role-playing game</p>
            <h2>OHET Legacy</h2>
        </header>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">Outstanding Heroes & Extraordinary Threats</p>
            <h2>About the book</h2>
        </header>
        <div class="gallery">
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/Images/OHET_finale_ENG.png" alt="s.obrazek" height="739" width="528" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <p>
                        <b>What is that game?</b>
                        <br/>
                        Outstanding Heroes and Extraordinary Threats is a heroic fantasy tabletop
                        game that requires the use of paper, pencils, dice – and most of all – words.
                        Useful will be also imagination and a few hours of time.
                    </p>
                    <p>
                        <b>What is that game about?</b>
                        <br />
                        Outstanding Heroes and Extraordinary Threats is a game about fighting
                        monsters, facing challenges, stopping disasters and getting rewarded for
                        these deeds.
                    </p>
                    <p>
                        <b>What is inside this book?</b>
                        <br />
                        You’re getting quick game rules that support a story about heroes and
                        their adventures told by the players. In that game the story about courage,
                        fight and wealth is the priority, and the rules facilitate its creation and
                        development. The Outstanding Heroes and Extraordinary Threats draws
                        inspiration from classical roleplaying games and allows to reuse the
                        themes known from the literature.
                    </p>
                </div>
            </div>
        </div>
</section>