@model OHET_Project.Models.models.Ability

@{
    ViewBag.Title = "Delete";
}

<section id="three" class="wrapper style2">
    <div class="inner">
        <div class="inner">
            <header class="align-center">
                <p class="special">Are you sure you want to delete this ability?</p>
                <h2>Delete Ability</h2>
            </header>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="12u$">
                Concept Level
                <input type="text" value="@Model.conceptLvl" disabled="disabled" />
            </div>
            <br />
            <div class="12u$">
                Description
                @Html.TextAreaFor(model => model.description, new { @class = "form-control", disabled = "disabled", @rows = 12 })
            </div>

            <br />

            <footer class="align-center">
                <input type="submit" value="Delete" class="btn btn-default" />
            </footer>
        }
        <div class="align-center">
            @Html.ActionLink("Back to Class", "Details", "Classes", new { id = Model.IDClass }, new { })
        </div>
    </div>
</section>
