@model OHET_Project.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">You must gather your party before venturing forth!</p>
            <h2>Account Manager</h2>
        </header>
    </div>
    <div class="inner">
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</section>    